/ArrayDeletion.class
/ArrayDeletionSearch.class
/ArrayDivideEvenOdd.class
/ArrayIncrement.class
/BubbleSort.class
/EvenOddArray.class
/Frequency.class
/LinearSearch.class
/MinMaxinArray.class
/Percentage.class
/_2dArray.class
/_2dArray90Rotation.class
/_2dArrayDiagonalReverse.class
/_2dArrayOpposite.class
/_2dArrayReverse.class
/_2dArrayTranspose.class
/armstrongNumber.class
/array.class
/arrayOperation.class
/arrayRotation.class
/automorphic.class
/counting.class
/factorial3to7.class
/factorialprogram.class
/greater_between_3num.class
/hello.class
/palindrom.class
/palindrom10to100.class
/power.class
/prime.class
/primeBetween50to100.class
/reverseNumber.class
/strongNumber.class
/swap2firstandlast.class
/table3to7.class
